{% extends "View/Layout.twig" %}
{% block title %} Controle Arenas {% endblock %}
{% block titlePage %}Controle de Arenas{% endblock %}
{% block arenasControl %} active {% endblock %}
{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Descrição</th>
                <th scope="col">Deletar</th>
                <th scope="col">Alterar</th>
            </tr>
        </thead>
        <tbody>
        {% for arena in arenas %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td class="text-truncate">{{ arena.title }}</td>
            <td class="text-truncate">{{ arena.getDateDefault() }}</td>
            <td class="text-truncate">{{ arena.description }}</td>
            <td class="text-truncate"><a class="btn btn-primary" href="{{ path_for('wanda.arena.control.delete',{"id" : arena.id}) }}">Deletar</a></td>
            <td class="text-truncate"><a class="btn btn-primary" href="{{ path_for('wanda.arena.control.change',{"id" : arena.id}) }}">Alterar</a></td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
