{% extends "View/Layout.twig" %}
{% block title %} Cadastrar Arena {% endblock %}
{% block titlePage %}Cadastro de Arena{% endblock %}
{% block arenasControl %}active{% endblock %}

{% block content %}
    <form class = "offset-sm-2 col-sm-8 rounded p-4 border" method="post" action="{{ path_for("wanda.arena.register.save") }}">
        {% if arena != NULL %}
            <input type="hidden" name="id" value="{{ arena.id }}">

        {% endif %}
        <div class="form-group ">
            <label for="Title">Título:</label>
            <input type="text" class="form-control" id="Title" name="title" placeholder="Título..." {% if arena != NULL %} value="{{ arena.title }}"{% endif %} required>
        </div>
        <div class="form-group">
            <label for="Game">Selecione o jogo:</label>
            <select class="form-control" id="Game" name="game">
                <option>Jo-Ken-Po</option>
                <option>Divide and Conquer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Description">Descrição:</label>
            <textarea class="form-control" id="Description" rows="3" name="description" required>{% if arena != NULL %} {{ arena.description }}{% endif %}</textarea>
        </div>
        <div class="form-group">
            <label for="date">Data:</label>
            <input type="datetime-local"  class="form-control" id="date" name="date" {% if arena != NULL %} value="{{ arena.getDateDefault() }}"{% endif %} required>
        </div>
        <div class="form-group row offset-8 col-4">
            <button class="form-control btn btn-primary" id="submit" type="submit">Enviar</button>
        </div>
    </form>
{% endblock %}